.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.card-body  {
    word-break:break-all;
  }

.card{
    margin-left: 5%;
    margin-top: 20px;
}

.ptr {
    cursor: pointer;
}

img{
    height: 250px;
}